@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario: #006989;
    --color-secundario: #F3F7EC;
    --color-terceario: #E88D67;
    --color-cuaternario: #495057;
    --color-quinario: #67a3b6;
    --color-sexagenario: #FFFFFF;

    --fuente-inter:"Inter", sans-serif;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--fuente-inter);
}

body{
    height: 100%;
    background-color: var(--color-secundario);
}

.cajas__encriptador{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.cajas__encriptador textarea{
    width: 100%;
    height: 90%;
    border: none;
    padding: 10px;
    resize: none;
    font-size: 2rem;
    line-height: 1.5;
    overflow: auto;
    color: var(--color-primario);
    background-color: var(--color-secundario);
    outline: none;
}

.cajas__encriptador ::placeholder{
    color: var(--color-primario);
}

.caja__mensaje__advertencia{
    display: flex;
    gap: 8px;
    font-size: 1rem;
    padding: 5px 0 16px 24px;
}

.mensaje__advertencia{
    color: var(--color-primario);
}

#informacion__icono{
    width: 16px;
}

.botones__encrip__y__descrip{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.boton__encriptar, .boton__desencriptar {
    width: 40%;
    background-color:var(--color-primario);
    color: var(--color-secundario);
    border: none;
    font-size: 1rem;
    padding: 24px;
    border-radius: 20px;
}

.boton__copiar{
    width: 40%;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.boton__desencriptar:hover, .boton__encriptar:hover, .boton__copiar:hover{
    background-color: var(--color-quinario);
}

.caja__input{
    width: 60%;
    padding: 6% 0% 6% 10%;
}

.caja__resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 80vh;
    margin: 40px 40px 40px 0px;
    background-color: var(--color-sexagenario);
    border-radius: 25px;
    box-shadow: 4px 10px 20px var(--color-cuaternario);
    font-size: 1.2rem;
    line-height: 1.5;  
    overflow: auto;
    color: var(--color-cuaternario);
}

.footer{
    height: 10vh;
    background-color: var(--color-terceario);
    text-align: center;
    color: var(--color-secundario);
    padding: 30px;
    font-size: 1.3rem;
    font-weight: 300;
}

@media (max-width: 1100px){
    .cajas__encriptador{
        flex-direction: column;
        align-items: center;
    }

    .caja__resultado img{
        display: none;
    }

    .caja__input{
        width: auto;
        height: 70vh;
        padding: 8% 0% 0% 0%;
        width: 90%;
    }

    .caja__resultado{
        height: 50vh;
        width: 90%;
        margin: 50px 0px 20px;
    }

    .cajas__encriptador textarea{
        padding: 20px;
    }
}

@media (max-width: 933px){

    .cajas__encriptador textarea{
        padding: 10px;
    }
    
    .caja__input{
        height: 35vh;
    }

    .botones__encrip__y__descrip{
        flex-direction: column;
        align-items: center;

    }

    .boton__encriptar, .boton__desencriptar, .boton__copiar{
        width: 80%;
        padding: 10px;
    }

    .caja__resultado{
        height: 25vh;   
    }

}